.hero-image {
    background-image: url(/src/assets/heroimg.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;

    .utinsils {
        position: relative;
        top: 70vh;
        width: 16%;
        display: flex;
        flex-direction: column;

        bottom {
            width: 16%;
        }

        a {
            display: flex;
            flex-direction: column;

            svg {
                color: black;
                font-weight: 50;
                width: 48px;
            }

        }
    }
}

.activities {
    width: 86%;
    justify-content: center;
}

.activity-cards {
    width: 100%;
    margin: 1.5rem 0;
}

.activity-cards h2 {
    margin: 0.5rem;
    font-size: 1.7rem;
}

.activity-cards p {
    font-size: 1.2rem;
}

.img-frame {
    width: 100%;
}

.img-frame img {
    width: 100%;
}