.hero-image {
    background-image: url(/src/assets/heroimg.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
}

.activities {
    width: 86%;
    justify-content: center;
}

.activity-cards {
    width: 100%;
    margin: 1.5rem 0;
}
.activity-cards h2 {
    font-size: 1.7rem;
}
.activity-cards p {
    font-size: 1.2rem;
}

.img-frame {
    width: 100%;
}

.img-frame img {
    width: 100%;
}