

.navigation {
    display: flex;
    padding: 10px 20px;
    background-color: #333;

    & a.active {
        font-weight: bold;
        text-decoration: none;
    }
}

.navigation {
    margin: 0;
    padding: 1rem;
    background-color: #E9E9E9;
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.navigation a.active {
    color: black;
    font-weight: bold;
}

.navigation a {
    font-weight: 500;
    color: #6F6F6F;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a:hover {
    color: light-dark(#6F6F6F, #3F3F3F);
}

