section {
    margin: 0;
    padding: 0;
    place-items: center;
}

.hero-image {
    background-image: url(assets/heroimg.jpg);
    background-size: cover;
    background-position: center;

    width: 410px;
    height: 830px;
}