@import url(style/home.scss);
@import url(style/navigation.scss);
@import url(style/header.scss);

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#213547 rgba(255, 255, 255, 0.87));
  background-color: light-dark(white, #003147);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: light-dark(#747bff, #535bf2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 410px;
  height: 830px;
  background-color: aquamarine;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  width: 100vw;
  height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light-dark(#f9f9f9 #1a1a1a);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}